/* General Reset */
* {
    overflow-x: hidden; /* Prevent horizontal overflow */
}


body {
    box-sizing: border-box;
    margin: 0;
}

header {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    font-family: 'PlayfairDisplaySC-Bold', serif;
    margin-bottom: 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0;
    font-family: 'Lora-SemiBold', serif;
}

h3 {
    font-size: 1.5rem;
    color: #936125;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Lora-SemiBold', serif;
}

p {
    font-size: 1.2rem;
    font-family: 'Lora-Regular', serif;
    margin-top: 5px;
    line-height: 25px;
}

li {
    font-size: 1.1rem;
    font-family: 'Lora-Regular', serif;
    line-height: 32px;
}

a {
    text-decoration: none;
}


@font-face {
    font-family: 'PlayfairDisplaySC-Bold';
    src: url('fonts/PlayfairDisplaySC-Bold.ttf');
}

@font-face {
    font-family: 'PlayfairDisplaySC-Black';
    src: url('fonts/PlayfairDisplaySC-Black.ttf');
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: 'Lora-Regular';
    src: url('fonts/Lora-Regular.ttf');
}

@font-face {
    font-family: 'Lora-SemiBold';
    src: url('fonts/Lora-SemiBold.ttf');
}

/* Logo Section */
.logo-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    background-color: #FFF8EE;
    margin-bottom: 0; 
    margin-top: -10px;
    width: 100%; 
}

.logo {
    max-width: 100%;
    height: auto;
    width: 45px; 
}

.logo-text {
    font-size: 24px; 
    margin-top: 10px; 
    color: #333;
    text-align: center; 
}

@media (min-width: 768px) {
    .logo {
        width: 45px; 
    }
    .logo-container {
        flex-direction: column; 
    }
    .logo-text {
        font-size: 24px; 
    }
}

@media (min-width: 1200px) {
    .logo {
        width: 85px; 
    }
    .logo-text {
        font-size: 20px; 
    }
}

@media (max-width: 767px) {
    .logo-container {
        flex-direction: row; 
        align-items: center; 
        padding: 10px; 
    }

    .logo-text {
        margin-left: 10px; 
        font-size: 24px; 
        text-align: left; 
        padding-top: 10px;
    }
}

/* Hero Section */
.hero {
    padding: 10px 20px; 
    text-align: left; 
}

.hero-content {
    max-width: 1000px; 
    margin: auto;
}

.hero-image {
    width: 100%;
    height: auto; 
    max-width: 1000px;
    margin-top: 20px;
    border-radius: 8px;
}

/* Project Details Section */
.project-details {
    text-align: left;
    padding: 2rem 4rem; 
}

.details-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
    gap: 1rem;
    justify-items: center;
    max-width: 1000px; 
    margin: 0 auto; 
}

.detail-column {
    padding: 1.5rem;
    width: 100%; 
    max-width: 280px; 
    border-radius: 10px;
}

.detail-column h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.detail-column p {
    font-size: 1rem;
}

/* Section Styling */
.section-content {
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 12px;
    max-width: 1000px; 
    margin: 0 auto; 
}


pre code.hljs {
    background-color: rgb(225, 245, 252);
    border-radius: 10px;
}


/* Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.gallery-image {
    width: 100%;
    height: auto; 
    max-width: 1000px;
    margin-top: 10px;
    margin-bottom: 35px;
    border-radius: 8px;
}

/* Solution Button */
.button-container {
    display: flex; 
    justify-content: center; 
    gap: 40px; 
}

.solution-button {
    background-color: transparent; 
    color: #292424; 
    border: 2px solid #292424; 
    padding: 12px; 
    font-size: 16px; 
    cursor: pointer; 
    text-align: center; 
    width: 120px; 
    transition: background-color 0.3s ease;
}

.solution-button:hover {
    background-color: rgba(233, 162, 97, 0.2); 
    transition: background-color 0.8s;
}


/* Responsive Design */
@media (max-width: 768px) {
    body {
        padding: 0 10px; 
    }

    .project-details {
        padding: 1rem; 
    }

    .details-container {
        grid-template-columns: repeat(2, 1fr); 
        gap: 0.5rem; 
    }

    .detail-column {
        padding: 1rem;
    }

    .hero {
        padding: 5px 10px; 
    }

    .section-content {
        padding: 15px; 
    }

    .gallery {
        gap: 10px; 
    }

    .hero-image, .gallery-image {
        width: 100%;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    li {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px; 
    }

    .project-details {
        padding: 0.5rem; 
    }

    .details-container {
        grid-template-columns: 1fr; /* Switches to a single-column layout */
        gap: 0.25rem; 
    }

    .detail-column {
        padding: 0.5rem; 
    }

    .hero {
        padding: 5px; 
    }

    .section-content {
        padding: 10px; 
    }

    .gallery {
        gap: 5px; 
    }

    p {
        font-size: 16px;
    }

    li {
        font-size: 16px;
    }

}
